<!doctype html>
<html lang="en">

<head>
    <title>Documents</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="apple-touch-icon" sizes="76x76" href="/img/teamlogo.png"/>
    <link rel="icon" type="image/png" href="/img/teamlogo.png"/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="https://demos.creative-tim.com/material-kit/assets/css/material-kit.min.css?v=3.0.4"
          rel="stylesheet"/>
    <!-- Material Kit CSS -->
    <link href="/css/material-kit.css?v=3.0.0" rel="stylesheet"/>
    <!-- js Files -->
    <!--  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>-->
    <script src="https://kit.fontawesome.com/1121a19956.js" crossorigin="anonymous"></script>
</head>


<body>
<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-absolute bg-transparent shadow-none">
        <div class="container">
            <a class="navbar-brand text-white" href="http://cslinux.nottingham.edu.cn/~Team202313" target="_blank"
               rel="noopener noreferrer">GRP Team 13</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header-2"
                    aria-controls="navbar-header-2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-header-2">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://cslinux.nottingham.edu.cn/~Team202313"
                           target="_blank" rel="noopener noreferrer">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/indev">
                            Contact Us
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://csprojects.nottingham.edu.cn">
                            <i class="fab fa-gitlab"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mx-2" href="https://github.com">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/indev">
                            <i class="fab fa-codepen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- User guide section -->
<div class="page-header min-vh-75" style="background-image: url('/img/bg9.jpg')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">Document Page</h1>
                    <!--                    <h3 class="text-white">Coming soon</h3>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n12 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">

                    <h1 class="text-dark" style=" margin-top: 40px;">User Guide</h1>
                    <h2 class="text-dark"> 1. Introduction</h2>
                    <p class="text-dark" style="text-align:left;">Welcome to <span
                            style="font-weight: bold;">AVM-GRP</span>. This is an automated property valuation system
                        with a user-friendly
                        interface. It offers many useful features. This system is designed for both general and
                        professional
                        users. With this user manual, you will learn how to use this system.</p>

                    <h2 class="text-dark"> 2. Get Started</h2>
                    <h3 class="text-dark"> 2.1 Click "GET STARTED"</h3>
                    <p class="text-dark" style="text-align:left;">As shown in Figure 1, click this button and turn to
                        the mode selection page.</p>
                    <img src="img/readmore/figure1.png" alt="Figure 1" width="600px" height="auto">
                    <div class="text-dark">Figure 1: Click "GET STARTED"</div>

                    <br>


                    <h3 class="text-dark"> 2.2 Choose mode</h3>
                    <p class="text-dark" style="text-align:left;">In Figure 2, we can see two kinds of modes can be
                        choice: <span style="font-weight: bold;">“Normal Mode”</span> and
                        <span style="font-weight: bold;">“Professional Mode”</span>. Here is a short description of the
                        two modes.</p>
                    <p class="text-dark" style="text-align:left;"><strong>Normal Mode:</strong>
                        This mode has an easier operation procedure and detailed guidance. It is designed
                        for users who do not understand real estate very well. If it is your first try, we recommend you
                        choose it. Click the button <span style="font-weight: bold;">TRY IT!</span> to start
                        <a href="#normal-mode" class="text-dark"><span style="color:blueviolet;">this mode</span></a>.
                    </p>
                    <p class="text-dark" style="text-align:left;"><strong>Professional Mode:</strong>
                        This mode has more functions and higher permissions for use. It is designed for professional
                        users, such as real estate agents. This mode provides historical prediction search, single
                        prediction, and batch prediction functions. Do not select this mode if you do not know what
                        you are doing. Click the button GO! to start <a
                                href="#professional-mode" class="text-dark"><span
                                style="color:blueviolet;">this mode</span></a>.</p>
                    <img src="img/readmore/figure2.png" alt="Figure 2" width="600px" height="auto">
                    <div class="text-dark">Figure 2: Choose mode</div>

                    <br>

                    <h2 class="text-dark" id="normal-mode">3. Normal Mode</h2>
                    <br>
                    <h3 class="text-dark">3.1 Base information input</h3>
                    <p class="text-dark" style="text-align:left;">
                        This part is the most basic and important information of the house. It directly affects the
                        prediction
                        result. Please fill in as much as possible.</p>

                    <h3 class="text-dark">3.1.1 Location information</h3>
                    <p class="text-dark" style="text-align:left;">
                        As shown in Figure 3, we need to input “address”, “zipcode”, “latitude” and “longitude”. This
                        part is optional, you can choose what you know to fill in. Filling in can improve the accuracy
                        of
                        price prediction.</p>
                    <ul class="text-dark">
                        <li style="text-align:left;"><strong>Address:</strong> The address of your house.</li>
                        <li style="text-align:left;"><strong>Zipcode:</strong>
                            Input the zipcode of the house can improve the accuracy of price prediction. It is
                            helpful to narrow down the search. E.p. 98001.
                        </li>
                        <li style="text-align:left;"><strong>Latitude:</strong>
                            Input the latitude of the house. E.p. 47.
                        </li>
                        <li style="text-align:left;"><strong>Longitude:</strong>
                            Input the longitude of the house. E.p. -122.
                        </li>
                    </ul>

                    <p class="text-dark" style="text-align:left;"><strong>Notes:</strong></p>
                    <ol class="text-dark" style="text-align:left;">
                        <li>You may need to use some mapping software, such as Google Maps, to get a better idea of the
                            latitude and longitude of the place.
                        <li>Since the software's datasets are mainly concentrated in a small town in the United States,
                            in order to make the data more accurate, the software currently supports the query of house
                            price estimates in that place. If you use this system to predict property values in other
                            areas, the results are unreliable.
                        </li>
                    </ol>
                    <img src="img/readmore/figure3.1.1.png" alt="Figure 3.1.1" width="600px" height="auto">
                    <div class="text-dark">Figure 3: N Mode 1</div>

                    <br>


                    <h3 class="text-dark">3.1.2 General information</h3>
                    <p class="text-dark" style="text-align:left;">As shown in the Figure 4, we need to input “Bedrooms
                        number”, “Bathrooms
                        number”, “Living size” and “Lot size”. </p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>Bedrooms number:</strong> The number of bedrooms in the house. E.p. 2.</li>
                        <li><strong>Bathrooms number:</strong> The number of bathrooms in the house. E.p. 2.</li>
                        <li><strong>Living size:</strong>
                            This is often used to describe the internal living area of a house, excluding
                            non-residential spaces such as garages, basements, etc. E.p. 1000.
                        </li>
                        <li><strong>Lot size:</strong> The total area of the house. It includes exterior space such as a
                            garden.
                            E.p. 100.
                        </li>
                    </ul>
                    <p class="text-dark" style="text-align:left;"><strong>Notes:</strong></p>
                    <p class="text-dark" style="text-align:left;">The unit we use here is square <span
                            style="font-weight: bold;">footage</span>.1 square meter is equal to 10.7639
                        square feet.</p>
                    <img src="img/readmore/figure3.1.2.png" alt="Figure 3.1.2" width="600px" height="auto">
                    <div class="text-dark">Figure 4: N Mode 2</div>
                    <br>


                    <h3 class="text-dark">3.1.3 Details information</h3>
                    <p class="text-dark" style="text-align:left;">As shown in the Figure 5, we need to input “Floors”,
                        “Is waterfront?”,
                        “The size above basement” and “Basement size”. </p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>Floors:</strong> The number of floors. Don’t need to mind the basement. E.p. 2.</li>
                        <li><strong>Is waterfront?:</strong> Whether your house is near the water. Usually, the price of
                            a house by the water is higher. E.p. Yes.
                        </li>
                        <li><strong>The size above basement: </strong> The total area of the house above ground level.
                            It includes the attic. E.p. 1400.
                        </li>
                        <li><strong>Basement size: </strong> The total area of basement. E.p. 60. If this house doesn't
                            have the basement, please fill 0 instead.
                        </li>
                    </ul>
                    <p class="text-dark" style="text-align:left;"><strong>Notes:</strong></p>
                    <p class="text-dark" style="text-align:left;">The unit we use here is square <span
                            style="font-weight: bold;">footage</span>.1 square meter is equal to 10.7639
                        square feet.</p>
                    <img src="img/readmore/figure3.1.3.png" alt="Figure 3.1.3" width="600px" height="auto">
                    <div class="text-dark">Figure 5: N Mode 3</div>
                    <br>

                    <h3 class="text-dark">3.1.4 More information</h3>
                    <p class="text-dark" style="text-align:left;">
                        As shown in Figure 6, we need to input “Built year”, “Renovated year”, “Living size in 2015” and
                        “Lot size in 2015”.</p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>Built year:</strong> The year of house when was built. E.p. 2000.</li>
                        <li><strong>Renovated year(if not, enter 0):</strong> The year of house when was repaired. If
                            the house was never repaired, enter “0”. E.p. 0.
                        </li>
                        <li><strong>Living size in 2015:</strong> The size of living space in 2015. Usually, it is same
                            as now. E.p. 100.
                        </li>
                        <li><strong>Lot size in 2015:</strong> The total area of house in 2015. Usually, it is same as
                            now. E.p. 120.
                        </li>
                    </ul>
                    <p class="text-dark" style="text-align:left;">After you finishing filling the base part. Please
                        click the orange button <span style="font-weight: bold;">Finish</span> to the next step. </p>
                    <p class="text-dark" style="text-align:left;"><strong>Note:</strong></p>
                    <p class="text-dark" style="text-align:left;">This part is optional, you can choose what you know to
                        fill in. Filling in can improve the
                        accuracy of prediction results. If you are not sure, put 0.</p>
                    <img src="img/readmore/figure3.1.4.png" alt="Figure 3.1.4" width="600px" height="auto">
                    <div class="text-dark">Figure 6: N Mode 4</div>
                    <br>


                    <h3 class="text-dark">3.2 Skip or Continue</h3>
                    <p class="text-dark" style="text-align:left;">In Figure 7, we can see two buttons can be clicked:
                        <span style="font-weight: bold;">Skip!</span> and <span style="font-weight: bold;">Go!</span>.
                        If
                        you want to add more details, please click <span style="font-weight: bold;">Go!</span>. And you
                        will get more powerful reasoning and
                        more accuracy prediction result. </p>
                    <p class="text-dark" style="text-align:left;">Of course, you also can skip this part. If you want,
                        click the <span style="font-weight: bold;">Skip!</span>, and <a href="#normal-mode-result"
                                                                                        class="text-dark"><span
                                style="color:blueviolet;">the result</span> </a> will be shown.
                    </p>
                    <img src="img/readmore/figure3.2.png" alt="Figure 3.2" width="600px" height="auto">
                    <div class="text-dark">Figure 7: Skip or Continue</div>
                    <br>


                    <h3 class="text-dark">3.3 Additional Information</h3>
                    <p class="text-dark" style="text-align:left;">
                        This part is an extension section. In fact, It directly affects the prediction result.
                    </p>

                    <p class="text-dark" style="text-align:left;">In Figure 8, you need to input the times this property
                        has been viewed
                        already. If you don’t sure, you can enter 0.</p>
                    <img src="img/readmore/figure3.3.1.png" alt="Figure 3.3.1" width="600px" height="auto">
                    <div class="text-dark">Figure 8: N Mode P 1</div>
                    <br>

                    <p class="text-dark" style="text-align:left;">In Figure 9, you need to score for the condition. If
                        you think the condition is very nice, select 5
                        stars, if not good enough, select 1 star by clicking the corresponding star.</p>
                    <img src="img/readmore/figure3.3.2.png" alt="Figure 3.3.2" width="600px" height="auto">
                    <div class="text-dark">Figure 9: N Mode P 2</div>
                    <br>

                    <p class="text-dark" style="text-align:left;">
                        In Figure 10, you will need to provide scores given by other property appraisers or systems. If
                        you
                        are not sure, enter 0. Usually, the grade is not over 13.
                    </p>
                    <p class="text-dark" style="text-align:left;">
                        After finishing the input, click the button <span style="font-weight: bold;">finish</span>, and
                        the result will be shown.</p>
                    <img src="img/readmore/figure3.3.3.png" alt="Figure 3.3.3" width="600px" height="auto">
                    <div class="text-dark">Figure 3.3.3</div>
                    <br>

                    <h3 class="text-dark" id="normal-mode-result">3.4 Normal Mode Result</h3>
                    <p class="text-dark" style="text-align:left;">
                        The final result by normal mode will be shown on this page. Just like in Figure 11, you can see
                        the prediction price, reasons, and statistics. Also, if you want to download your results as a
                        PDF
                        file, you can click on the <span style="font-weight: bold;">DOWNLOAD</span> button.</p>
                    <img src="img/readmore/figure3.4.png" alt="Figure 3.4" width="600px" height="auto">
                    <div class="text-dark">Figure 11: N Mode Result</div>

                    <br>
                    <h2 class="text-dark" id="professional-mode"> 4 Professional mode</h2>
                    <p class="text-dark" style="text-align:left;">In figure 12, we can see three buttons can be clicked:
                        <a href="#Historical-Prediction" class="text-dark"><span
                                style="color:blueviolet;font-weight: bold;">Historical Prediction</span></a>,
                        <a href="#Single-Prediction" class="text-dark"><span
                                style="color:blueviolet;font-weight: bold;">Single Prediction</span></a> and <a
                                href="#Batch-Prediction" class="text-dark"><span
                                style="color:blueviolet;font-weight: bold;">Batch Prediction</span></a>. Their functions
                        will be explained next. </p>
                    <img src="img/readmore/figure4.png" alt="Figure 4" width="600px" height="auto">
                    <div class="text-dark">Figure 12: Pro Mode Homepage</div>

                    <br>

                    <h3 class="text-dark" id="Historical-Prediction">4.1 Historical Prediction</h3>
                    <p class="text-dark" style="text-align:left;">
                        On this page, you can use the result ID to find historical records. As Figure 13 shows, enter
                        the
                        result ID and click the button <span style="font-weight: bold;">SEARCH!</span>.
                    </p>
                    <img src="img/readmore/figure4.1.1.png" alt="Figure 4.1.1" width="600px" height="auto">
                    <div class="text-dark">Figure 13: Historical Prediction</div>
                    <br>

                    <p class="text-dark" style="text-align:left;">
                        If your result ID can’t find corresponding records, you will be turned to this page like Figure
                        14.
                    </p>
                    <img src="img/readmore/figure4.1.2.png" alt="Figure 4.1.2" width="600px" height="auto">
                    <div class="text-dark">Figure 14: Historical Prediction Error</div>
                    <br>

                    <p class="text-dark" style="text-align:left;">
                        If your result ID can find corresponding records, the result will be shown (Figure 15).
                    </p>
                    <img src="img/readmore/figure4.1.3.png" alt="Figure 4.1.3" width="600px" height="auto">
                    <div class="text-dark">Figure 15: Historical Prediction Result</div>
                    <br>


                    <h3 class="text-dark" id="Single-Prediction">4.2 Single Prediction</h3>
                    <p class="text-dark" style="text-align:left;">
                        As Figure 16 shows, we need to enter many parameters. These parameters can be divided into 4
                        parts: <span style="font-weight: bold;">Location</span>, <span
                            style="font-weight: bold;">Basic</span>, <span style="font-weight: bold;">Advance</span> and
                        <span style="font-weight: bold;">Pro settings</span>.
                    </p>


                    <p class="text-dark"><strong>4.2.1 Location</strong></p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>Zipcode:</strong>Input the zipcode of the house can improve accuracy of the search.
                            It is helpful to narrow down the search. E.p. 98001.
                        </li>
                        <li><strong>Lat:</strong> Input the latitude of the house. E.p. -47.
                        </li>
                        <li><strong>Long:</strong> Input the longitude of the house. E.p. 120.
                        </li>
                        <li><strong>Is waterfront?: </strong> Whether your house is near the water. Usually, the price
                            of a house by the water is higher. 1 is for yes, 0 is for no. E.p. 1.
                        </li>

                    </ul>

                    <br>
                    <br>
                    <p class="text-dark"><strong>4.2.2 Basic</strong></p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>Bedrooms number:</strong> The number of bedrooms in the house. E.p. 2.</li>
                        <li><strong>Bathrooms number:</strong> The number of bathrooms in the house. E.p. 2.</li>
                        <li><strong>Floors:</strong> The number of floors. Don’t need to mind the basement. E.p. 2.</li>
                        <li><strong>Built year:</strong> The year of house when was built. E.p. 2000.</li>
                        <li><strong>Renovated year(if not, enter 0):</strong> The year of house when was repaired. If
                            the house was never repaired, enter “0”. E.p. 0.
                        </li>
                        <li><strong>Living size:</strong> This is often used to describe the internal living area of a
                            house, excluding non-residential spaces such as garages, basements, etc. E.p. 1000.
                        </li>
                        <li><strong>Lot space: </strong> The total area of house. It includes exterior space such as
                            garden. E.p. 140.
                        </li>
                        <li><strong>Above basement space (in ft square):</strong> The total area of the house above
                            ground level. It includes the attic. E.p. 120.
                        </li>
                        <li><strong>Basement size:</strong> The total area of basement. If this house don’t have the
                            basement, please fill 0 instead. E.p. 20.
                        </li>
                    </ul>


                    <br>
                    <br>
                    <p class="text-dark"><strong>4.2.3 Advance</strong></p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>View number:</strong> You need to input the times this property has been viewed
                            already. If you are not sure, you can enter 0. E.p. 2.
                        </li>
                        <li><strong>Condition:</strong> You need to score for the condition. E.p. 3.</li>
                        <li><strong>Grade:</strong> You need to evaluate and give a grade. If you are not sure, you can
                            enter 0. Usually, the grade not over 13. E.p. 4.
                        </li>
                        <li><strong>Living space in 2015 (in ft square):</strong> The size of living space in 2015.
                            Usually, it is same as now. E.p. 120.
                        </li>
                        <li><strong>Lot space in 2015 (in ft square):</strong> The total area of house in 2015. Usually,
                            it is same as now. E.p. 140.
                        </li>
                    </ul>


                    <br>
                    <br>

                    <p class="text-dark"><strong>4.2.4 Pro setting:</strong></p>
                    <ul class="text-dark" style="text-align:left;">
                        <li><strong>Enable LLM:</strong> Enable Large Language model to generate descriptions.</li>
                        <li><strong>Enable Full Prediction:</strong> Choose to do full prediction to predict price.
                        </li>
                        <li><strong>Using user-defined confidence levels:</strong>
                            Choose this option. You can decide the confidence
                            levels by yourselves. If you choose this option, you need to enter the number of confidence
                            levels.
                        </li>
                        <li><strong>Confidence levels:</strong>
                            The number of confidence levels. Usually, the larger the number, the more accurate the
                            result.
                        </li>
                        <li><strong>Enable Hidden Prediction: </strong> Choose to use hidden prediction.</li>
                        <li><strong>Select Model Core: </strong>
                            Choose core model type. We can choose <span style="font-weight: bold;">Random Forest</span>,
                            <span style="font-weight: bold;">Xgboost</span> and <span style="font-weight: bold;">Lightgbm</span>.
                        </li>
                    </ul>


                    <img src="img/readmore/figure4.2.1.png" alt="Figure 4.2.1" width="600px" height="auto">
                    <div class="text-dark">Figure 16: Pro Single</div>

                    <br>
                    <h3 class="text-dark" id="Single-Prediction-Result">4.3 Single Prediction Result</h3>
                    <p class="text-dark" style="text-align:left;">
                        The final result by professional mode single will be shown on this page. Just like in Figure 17,
                        you
                        can see the result ID, prediction price, reasons, and statistics.
                    </p>
                    <img src="img/readmore/figure4.2.2.png" alt="Figure 4.2.2" width="600px" height="auto">
                    <div class="text-dark">Figure 17: Single Prediction Result</div>
                    <br>


                    <h3 class="text-dark" id="Batch-Prediction">4.4 Batch Prediction</h3>
                    <p class="text-dark" style="text-align:left;">
                        On this page, you can do batch prediction by uploading files in proper format. As Figure 19,
                        this
                        page can be divided into 2 parts: <span style="font-weight: bold;">Pro settings</span> and <span
                            style="font-weight: bold;">Select data file</span>.
                    </p>

                    <p class="text-dark"><strong>4.4.1 Pro setting:</strong></p>
                    <p class="text-dark" style="text-align:left;">
                        Same as above.
                    </p>


                    <p class="text-dark"><strong>4.4.2 Select data file</strong></p>

                    <p class="text-dark" style="text-align:left;">
                        Click the <span style="font-weight: bold;">BROWSE</span> to select the data file. And you can
                        see it on the left after choosing. After doing
                        these things, please click the <span style="font-weight: bold;">SUBMIT</span>. You will get the
                        result if you upload the file in correct format.
                    </p>

                    <p class="text-dark" style="text-align:left;"><strong>Notes:</strong></p>
                    <ol class="text-dark" style="text-align:left;">
                        <li>The format supported currently is <span style="font-weight: bold;">.csv</span> format. Just
                            like the Figure 18.
                        <li>The first line don’t be seen as input.
                        </li>
                    </ol>
                    <img src="img/readmore/csv_example.png" alt="csv_example" width="800px" height="auto">
                    <div class="text-dark">Figure 18: csv-example</div>
                    <img src="img/readmore/figure4.3.1.png" alt="Figure 4.3.1" width="600px" height="auto">
                    <div class="text-dark">Figure 19: Batch Prediction</div>
                    <br>
                    <p class="text-dark" style="text-align:left;">If your data file is un-supported format, you will be
                        turned to this page like Figure 20.
                    </p>
                    <img src="img/readmore/figure4.3.2.png" alt="Figure 4.3.2" width="600px" height="auto">
                    <div class="text-dark">Figure 20: Not Support</div>
                    <br>
                    <h3 class="text-dark" id="Batch-Prediction-Result">4.5 Batch Prediction Result</h3>
                    <p class="text-dark" style="text-align:left;">If you upload a data file with correct format, you can
                        see the result on this page. Just like in Figure
                        21, you can see the batch prediction result and you can download report for each prediction.
                    </p>
                    <img src="img/readmore/figure4.3.3.png" alt="Figure 4.3.3" width="600px" height="auto">
                    <div class="text-dark">Figure 21: Batch Prediction Result</div>
                    <br>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="section text-center">

            <h2 class="title" style=" margin-top: 40px;">Back to the main page?</h2>
            <a href="/">
                <button type="button" class="btn btn-success mt-4">Click here!</button>
            </a>
        </div>
    </div>
</div>
<footer class="footer pt-0 mt-0">
    <div class="container">
        <div class="text-center">
            <p class="text-dark my-1 text-sm font-weight-normal">
                All rights reserved. Copyright ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                GRP Team 13
            </p>
            <p class="text-dark my-1 text-sm font-weight">
                Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </p>
        </div>
    </div>
</footer>
</body>

</html>