<!doctype html>
<html lang="en">

<head>
    <title>Documents</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <link rel="apple-touch-icon" sizes="76x76" href="/img/teamlogo.png"/>
    <link rel="icon" type="image/png" href="/img/teamlogo.png"/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link id="pagestyle" href="https://demos.creative-tim.com/material-kit/assets/css/material-kit.min.css?v=3.0.4"
          rel="stylesheet"/>
    <!-- Material Kit CSS -->
    <link href="/css/material-kit.css?v=3.0.0" rel="stylesheet"/>
    <!-- js Files -->
    <!--  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>-->
    <script src="https://kit.fontawesome.com/1121a19956.js" crossorigin="anonymous"></script>
</head>


<body>
<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-absolute bg-transparent shadow-none">
        <div class="container">
            <a class="navbar-brand text-white" href="http://cslinux.nottingham.edu.cn/~Team202313" target="_blank"
               rel="noopener noreferrer">GRP Team 13</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header-2"
                    aria-controls="navbar-header-2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-header-2">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="http://cslinux.nottingham.edu.cn/~Team202313"
                           target="_blank" rel="noopener noreferrer">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/indev">
                            Contact Us
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://csprojects.nottingham.edu.cn">
                            <i class="fab fa-gitlab"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mx-2" href="https://github.com">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/indev">
                            <i class="fab fa-codepen"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- User guide section -->
<div class="page-header min-vh-75" style="background-image: url('/img/bg9.jpg')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">Document Page</h1>
<!--                    <h3 class="text-white">Coming soon</h3>-->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n12 ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">

                    <h1 class="text-dark" style=" margin-top: 40px;">User Guide</h1>
                    <p class="text-dark">This user manual will guide you to how to go through the process. This manual
                        has been written to help you to understand the differences between “Normal Mode” and
                        “Professional Mode”, and how to fill in information. </p>
                    <h2 class="text-dark"> 1. Click "Get Started"</h2>
                    <p class="text-dark">As shown in Figure 1, click this button and turn to mode selection page.</p>
                    <img src="img/readmore/figure1.png" alt="Figure 1">
                    <div class="text-dark">Figure 1</div>

                    <br>


                    <h2 class="text-dark"> 2.Choose mode</h2>
                    <p class="text-dark">In Figure 2, we can see two kinds of modes can be choice: “Normal Mode” and
                        “Professional Mode”. As their name implies, “Normal Mode” is the mode which is suitable to every
                        user whoever a new hand or old hand. </p>
                    <p class="text-dark"><strong>Normal Mode:</strong> If it is your first try, we recommend you to
                        choose it. “Normal Mode” has an easier operation procedure and detailed guidance. Click button
                        “TRY IT” and move user manual to part <a href="#normal-mode" class="text-dark">“3. Normal
                            Mode”</a>.</p>
                    <p class="text-dark"><strong>Professional Mode:</strong> If you an old hand, you can try the
                        “Professional Mode”. This mode has more detail can input and harder to operate. Meanwhile, you
                        can get a more precise result. Click button “GO!” and move user manual to part <a
                                href="#professional-mode" class="text-dark">“4. Professional Mode”</a>.</p>
                    <img src="img/readmore/figure2.png" alt="Figure 2">
                    <div class="text-dark">Figure 2</div>

                    <br>

                    <h2 class="text-dark" id="normal-mode">3.Normal Mode</h2>
                    <br>
                    <h3 class="text-dark">3.1.Base information input</h3>
                    <p class="text-dark">This part is the most base and important information of house. It directly
                        affects the prediction result. Please fill in as much as possible. </p>

                    <h3 class="text-dark">3.1.1 Location information</h3>
                    <p class="text-dark">As shown in the Figure 3.1.1, we need to input “address”, “zipcode”,
                        “latitude” and “longitude”. This part is optional, you can choose what you know to fill in.
                        Filling in can improve accuracy of search. </p>
                    <ul class="text-dark">
                        <li><strong>Address:</strong> The address of your house.</li>
                        <li><strong>Zipcode:</strong> Input the zipcode of the house can improve accuracy of the search.
                            It is helpful to narrow down the search. E.p. 98001.
                        </li>
                        <li><strong>Latitude:</strong> Input the latitude of the house can improve accuracy of the
                            search. It is helpful to narrow down the search. E.p. 47.
                        </li>
                        <li><strong>Longitude:</strong> Input the longitude of the house can improve accuracy of the
                            search. It is helpful to narrow down the search. E.p. -122.
                        </li>
                    </ul>

                    <p class="text-dark"><strong>Notes:</strong></p>
                    <ol class="text-dark">
                        <li>You may need to use some mapping software, such as Google Maps, to get a better idea of the
                            latitude and longitude of the place.
                        <li>Since the software's datasets is mainly concentrated in a small town in the United States,
                            in order to make the data more accurate, the software currently supports the query of house
                            price estimates in that place.
                        </li>
                    </ol>
                    <img src="img/readmore/figure3.1.1.png" alt="Figure 3.1.1">
                    <div class="text-dark">Figure 3.1.1</div>

                    <br>


                    <h3 class="text-dark">3.1.2 General information</h3>
                    <p class="text-dark">As shown in the Figure 3.1.2, we need to input “Bedrooms number”, “Bathrooms
                        number”, “Living size” and “Lot size”. </p>
                    <ul class="text-dark">
                        <li><strong>Bedrooms number:</strong> The number of bedrooms in the house. E.p. 2.</li>
                        <li><strong>Bathrooms number:</strong> The number of bathrooms in the house. E.p. 2.</li>
                        <li><strong>Living size:</strong> This is often used to describe the internal living area of a
                            house, excluding non-residential spaces such as garages, basements, etc. E.p. 1000.
                        </li>
                    </ul>
                    <p class="text-dark"><strong>Notes:</strong></p>
                    <p class="text-dark">The unit we use here is square footage.1 square meter is equal to 10.7639
                        square feet.</p>
                    <img src="img/readmore/figure3.1.2.png" alt="Figure 3.1.2">
                    <div class="text-dark">Figure 3.1.2</div>
                    <br>


                    <h3 class="text-dark">3.1.3 Details information</h3>
                    <p class="text-dark">As shown in the Figure 3.1.3, we need to input “Floors”, “Is waterfront?”,
                        “The size above basement” and “Basement size”. </p>
                    <ul class="text-dark">
                        <li><strong>Floors:</strong> The number of floors. Don’t need to mind the basement. E.p. 2.</li>
                        <li><strong>Is waterfront?:</strong> Whether your house is near the water. Usually, the price of
                            a house by the water is higher. E.p. Yes.
                        </li>
                        <li><strong>The size above basement: </strong> The total area of the house above ground level.
                            It includes the attic. E.p. 1400.
                        </li>
                        <li><strong>Basement size: </strong> The total area of basement. E.p. 60. If this house don’t
                            have the basement, please fill 0 instead.
                        </li>
                    </ul>
                    <p class="text-dark"><strong>Notes:</strong></p>
                    <p class="text-dark">The unit we use here is square footage.1 square meter is equal to 10.7639
                        square feet.</p>
                    <img src="img/readmore/figure3.1.3.png" alt="Figure 3.1.3">
                    <div class="text-dark">Figure 3.1.3</div>
                    <br>

                    <h3 class="text-dark">3.1.4 More information</h3>
                    <p class="text-dark">As shown in the Figure 3.1.4, we need to input “Built year”, “Renovated
                        year(if not, enter 0)”, “Living size in 2015” and “Lot size in 2015”. This part is optional, you
                        can choose what you know to fill in. Filling in can improve accuracy of prediction result.</p>
                    <ul class="text-dark">
                        <li><strong>Built year:</strong> The year of house when was built. E.p. 2000.</li>
                        <li><strong>Renovated year(if not, enter 0):</strong> The year of house when was repaired. If
                            the house was never repaired, enter “0”. E.p. 0.
                        </li>
                        <li><strong>Living size in 2015:</strong> The size of living space in 2015. Usually, it is same
                            as now. E.p. 100.
                        </li>
                        <li><strong>Lot size in 2015:</strong> The total area of house in 2015. Usually, it is same as
                            now. E.p. 120.
                        </li>
                    </ul>
                    <img src="img/readmore/figure3.1.4.png" alt="Figure 3.1.4">
                    <div class="text-dark">Figure 3.1.4</div>
                    <br>


                    <h3 class="text-dark">3.2.Skip or Continue</h3>
                    <p class="text-dark">In Figure 3.2, we can see two buttons can be clicked: “Skip!” and “Go!”. If
                        you want to add more details, please click “Go!”. And you will get more powerful reasoning and
                        more accuracy prediction result. </p>
                    <p class="text-dark">Of course, you also can skip this part. If you want, click the “Skip!” and
                        move the user manual to “3.4 normal mode result”.</p>
                    <img src="img/readmore/figure3.2.png" alt="Figure 3.2">
                    <div class="text-dark">Figure 3.2</div>
                    <br>


                    <h3 class="text-dark">3.3.Pro information input</h3>
                    <p class="text-dark">This part is extension section. It indirect affects the prediction
                        result. </p>

                    <p class="text-dark">In Figure 3.3.1, you need to input the times this property has been viewed
                        already. If you don’t sure, you can enter 0.</p>
                    <img src="img/readmore/figure3.3.1.png" alt="Figure 3.3.1">
                    <div class="text-dark">Figure 3.3.1</div>
                    <br>

                    <p class="text-dark">In Figure 3.3.2, you need to score for the condition. Click the corresponding
                        star. </p>
                    <img src="img/readmore/figure3.3.2.png" alt="Figure 3.3.2">
                    <div class="text-dark">Figure 3.3.2</div>
                    <br>

                    <p class="text-dark">In Figure 3.3.3, you need to evaluate and give a grade. If you don’t sure, you
                        can enter 0. Usually, the grade not over 15.</p>
                    <p class="text-dark">After finishing the input, click button “finish” and watch the result. </p>
                    <img src="img/readmore/figure3.3.3.png" alt="Figure 3.3.3">
                    <div class="text-dark">Figure 3.3.3</div>
                    <br>

                    <h3 class="text-dark">3.4.normal mode result</h3>
                    <p class="text-dark">The finial result by normal mode will be shown in this page. Just like in
                        figure 3.4, you can see the prediction price, reasons and statistics. </p>
                    <img src="img/readmore/figure3.4.png" alt="Figure 3.4">
                    <div class="text-dark">Figure 3.4</div>

                    <br>
                    <h2 class="text-dark"> 4.Professional mode</h2>
                    <p class="text-dark">In figure 4, we can see three buttons can be clicked: “Historical Prediction”,
                        “Single Prediction” and “Batch Prediction”. Their functions will be explained next. You also can
                        download the result. </p>
                    <img src="img/readmore/figure4.png" alt="Figure 4">
                    <div class="text-dark">Figure 4</div>

                    <br>

                    <h3 class="text-dark">4.1 Historical Prediction</h3>
                    <p class="text-dark">In this page, you can use result ID to find historical records. As figure
                        4.1.1, enter the result ID and click button. </p>
                    <img src="img/readmore/figure4.1.1.png" alt="Figure 4.1.1">
                    <div class="text-dark">Figure 4.1.1</div>
                    <br>

                    <p class="text-dark">If your result ID can’t find corresponding records. You will be turned to this
                        page like figure 4.1.2. </p>
                    <img src="img/readmore/figure4.1.2.png" alt="Figure 4.1.2">
                    <div class="text-dark">Figure 4.1.2</div>
                    <br>

                    <p class="text-dark">If your result ID can find corresponding records. The result will be showed
                        like figure 4.1.3. </p>
                    <img src="img/readmore/figure4.1.3.png" alt="Figure 4.1.3">
                    <div class="text-dark">Figure 4.1.3</div>
                    <br>


                    <h3 class="text-dark">4.2 Single Prediction</h3>
                    <p class="text-dark">As figure 4.2.1, we need to enter many parameters. These parameters can be
                        divided into 4 parts: “Location”, “Basic”, “Advance” and “Pro settings”. </p>


                    <p class="text-dark"><strong>Location:</strong></p>
                    <ul class="text-dark">
                        <li><strong>Zipcode:</strong>Input the zipcode of the house can improve accuracy of the search.
                            It is helpful to narrow down the search. E.p. 98001.
                        </li>
                        <li><strong>Lat:</strong> Input the latitude of the house can improve accuracy of the search. It
                            is helpful to narrow down the search. E.p. -47.
                        </li>
                        <li><strong>Long:</strong> Input the longitude of the house can improve accuracy of the search.
                            It is helpful to narrow down the search. E.p. 120.
                        </li>
                        <li><strong>Is waterfront?: </strong> Whether your house is near the water. Usually, the price
                            of a house by the water is higher. 1 is for yes, 0 is for no. E.p. 1.
                        </li>

                    </ul>

                    <p class="text-dark"><strong>Notes:</strong></p>
                    <ol class="text-dark">
                        <li>You may need to use some mapping software, such as Google Maps, to get a better idea of the
                            latitude and longitude of the place.
                        <li>Since the software's datasets is mainly concentrated in a small town in the United States,
                            in order to make the data more accurate, the software currently supports the query of house
                            price estimates in that place.
                        </li>
                    </ol>

                    <br>
                    <br>
                    <p class="text-dark"><strong>Basic:</strong></p>
                    <ul class="text-dark">
                        <li><strong>Bedrooms number:</strong> The number of bedrooms in the house. E.p. 2.</li>
                        <li><strong>Bathrooms number:</strong> The number of bathrooms in the house. E.p. 2.</li>
                        <li><strong>Floors:</strong> The number of floors. Don’t need to mind the basement. E.p. 2.</li>
                        <li><strong>Built year:</strong> The year of house when was built. E.p. 2000.</li>
                        <li><strong>Renovated year(if not, enter 0):</strong> The year of house when was repaired. If
                            the house was never repaired, enter “0”. E.p. 0.
                        </li>
                        <li><strong>Living size:</strong> This is often used to describe the internal living area of a
                            house, excluding non-residential spaces such as garages, basements, etc. E.p. 1000.
                        </li>
                        <li><strong>Lot space: </strong> The total area of house. It includes exterior space such as
                            garden. E.p. 140.
                        </li>
                        <li><strong>Above basement space (in ft square):</strong> The total area of the house above
                            ground level. It includes the attic. E.p. 120.
                        </li>
                        <li><strong>Basement size:</strong> The total area of basement. If this house don’t have the
                            basement, please fill 0 instead. E.p. 20.
                        </li>
                    </ul>

                    <p class="text-dark"><strong>Notes:</strong></p>
                    <p class="text-dark">The unit we use here is square footage.1 square meter is equal to 10.7639
                        square feet.</p>


                    <br>
                    <br>
                    <p class="text-dark"><strong>Advance:</strong></p>
                    <ul class="text-dark">
                        <li><strong>View number:</strong> You need to input the times this property has been viewed
                            already. If you don’t sure, you can enter 0. E.p. 2.
                        </li>
                        <li><strong>Condition:</strong> You need to score for the condition. E.p. 3.</li>
                        <li><strong>Grade:</strong> You need to evaluate and give a grade. If you don’t sure, you can
                            enter 0. Usually, the grade not over 15. E.p. 4.
                        </li>
                        <li><strong>Living space in 2015 (in ft square):</strong> The size of living space in 2015.
                            Usually, it is same as now. E.p. 120.
                        </li>
                        <li><strong>Lot space in 2015 (in ft square):</strong> The total area of house in 2015. Usually,
                            it is same as now. E.p. 140.
                        </li>
                    </ul>

                    <p class="text-dark"><strong>Notes:</strong></p>
                    <p class="text-dark">The unit we use here is square footage.1 square meter is equal to 10.7639
                        square feet.</p>


                    <br>
                    <br>

                    <p class="text-dark"><strong>Pro setting:</strong></p>
                    <ul class="text-dark">
                        <li><strong>Enable LLM:</strong> Choose to use LLM algorithm to generate prediction price.</li>
                        <li><strong>Enable Full Prediction:</strong> Choose to do full prediction to generate prediction
                            price.
                        </li>
                        <li><strong>Using user-defined confidence levels:</strong> Choose this option. You can decide
                            the confidence levels by yourselves. If you choose this option, you need to enter the number
                            of confidence levels.
                        </li>
                        <li><strong>Confidence levels:</strong> The number of confidence levels. Usually, the larger the
                            number, the more accurate the result.
                        </li>
                        <li><strong>Enable Hidden Prediction: </strong> Choose to use hidden prediction.</li>
                        <li><strong>Select Model Core: </strong> We can choose “Random Forest” or “XGBoosat”.</li>
                    </ul>


                    <img src="img/readmore/figure4.2.1.png" alt="Figure 4.2.1">
                    <div class="text-dark">Figure 4.2.1</div>

                    <br>
                    <p class="text-dark">The finial result by professional mode will be shown in this page. Just like
                        in figure 4.2.2, you can see the prediction price, reasons and statistics. </p>
                    <img src="img/readmore/figure4.2.2.png" alt="Figure 4.2.2">
                    <div class="text-dark">Figure 4.2.2</div>
                    <br>


                    <h3 class="text-dark">4.3 Batch Prediction</h3>
                    <p class="text-dark">This page, you can do batch prediction by uploading file in proper format. As
                        figure 4.3.1, this page can be divided into 2 parts: “Pro settings” (this part is to choose the
                        kind of model.) and “Select data file” (this part is to upload file). </p>

                    <p class="text-dark"><strong>Pro setting:</strong></p>
                    <ul class="text-dark">
                        <li><strong>Enable LLM:</strong> Choose to use LLM algorithm to generate prediction price.</li>
                        <li><strong>Enable Full Prediction:</strong> Choose to do full prediction to generate prediction
                            price.
                        </li>
                        <li><strong>Using user-defined confidence levels:</strong> Choose this option. You can decide
                            the confidence levels by yourselves. If you choose this option, you need to enter the number
                            of confidence levels.
                        </li>
                        <li><strong>Confidence levels:</strong> The number of confidence levels. Usually, the larger the
                            number, the more accurate the result.
                        </li>
                        <li><strong>Enable Hidden Prediction: </strong> Choose to use hidden prediction.</li>
                        <li><strong>Select Model Core: </strong> We can choose “Random Forest” or “XGBoosat”.</li>
                    </ul>

                    <p class="text-dark"><strong>Select data file:</strong></p>

                    <p class="text-dark">Click the “BROWSE” to select the data file. And you can see it on the left
                        after chose.After doing these things, please click the “SUBMIT”. And you will get the result if
                        you upload file with right format. </p>

                    <p class="text-dark"><strong>Notes:</strong></p>
                    <p class="text-dark">the true format is .csv format.</p>
                    <img src="img/readmore/figure4.3.1.png" alt="Figure 4.3.1">
                    <div class="text-dark">Figure 4.3.1</div>
                    <br>
                    <p class="text-dark">If your data file use wrong format. You will be turned to this page like
                        figure 4.3.2. </p>
                    <img src="img/readmore/figure4.3.2.png" alt="Figure 4.3.2">
                    <div class="text-dark">Figure 4.3.2</div>
                    <br>
                    <p class="text-dark">If you upload data file with right format. You can see the result in this
                        page. Just like in figure 4.3.3, you can see the batch prediction result. </p>
                    <img src="img/readmore/figure4.3.3.png" alt="Figure 4.3.3">
                    <div class="text-dark">Figure 4.3.3</div>
                    <br>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="section text-center">

            <h2 class="title" style=" margin-top: 40px;">Back to the main page?</h2>
            <a href="/">
                <button type="button" class="btn btn-success mt-4">Click here!</button>
            </a>
        </div>
    </div>
</div>
<footer class="footer pt-0 mt-0">
    <div class="container">
        <div class="text-center">
            <p class="text-dark my-1 text-sm font-weight-normal">
                All rights reserved. Copyright ©
                <script>
                    document.write(new Date().getFullYear())
                </script>
                GRP Team 13
            </p>
            <p class="text-dark my-1 text-sm font-weight">
                Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
            </p>
        </div>
    </div>
</footer>
</body>

</html>